asgiref==3.11.0
Django==6.0.1
django-cloudinary-storage==0.3.0
django-reversion==6.1.0
dj-database-url==3.0.1
gunicorn==23.0.0
pillow==12.1.0
psycopg[binary]==3.3.2
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.9.0
django-jazzmin==3.0.5

